body{
    background-color: #A69E94;
    background: #A69E94;  /* fallback for old browsers */
    background: linear-gradient(#A69E94, #F2F2F0);
    background: -webkit-linear-gradient(#A69E94, #F2F2F0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #A69E94, #F2F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn{
    background-color: #A69E94;
    border: 5px solid #D9D8D7;
    border-right: 0;
    border-left: 0;
    border-radius: 20px;
}
#home > a{
    text-decoration: none;
    color: #403022;
}
#home > a:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/* NAVBAR */
body > nav{
    background-color: #D9D8D7;
}
#navbarNavAltMarkup{
    justify-content: flex-end;
}
#navbarNavAltMarkup > div > a{
    border: 5px solid #A69E94;
    border-right: 0;
    border-left: 0;
    border-radius: 20px;
}
#navbarNavAltMarkup > div > a:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/* IMAGE */
body > div > img{
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 10px 10px 50px black;
}
/* FORM */
#divForm{
    background-color: #D9D8D7;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: inset -5px -5px 10px gray;
}
#button{
    border: 5px solid #A69E94;
    border-right: 0;
    border-left: 0;
    border-radius: 20px;
}
#button:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/* FOOTER */
body > footer > ul > li:nth-child(1) > a > svg > path{
    color: blue;
}
body > footer > ul > li:nth-child(2) > a > svg > path{
    color: lightskyblue;
}
body > footer > ul > li:nth-child(3) > a > svg > path{
    color: red;
}
body > footer{
    background-color: #D9D8D7;
}